<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="applicable-device" content="pc,mobile">
    <title>联系我们</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/pagecss.css"/>
    <!--引用百度地图API-->
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=GMnsSTy0j2nMD7ozimaPVSIpjvvpekKq"></script>
</head>
<body>
<!-- 手机导航 -->
<article  class="ModuleMobileNavGiant hidden-md hidden-lg">
    <section class="containers">
        <section id="MobileNav" class="mobileNav">
            <header>
                <a href="#" class="mm-hbtn">
                    <div class="lcbody">
                        <div class="lcitem top">
                            <div class="rect top"></div>
                        </div>
                        <div class="lcitem bottom">
                            <div class="rect bottom"></div>
                        </div>
                    </div>
                </a>
                <p>某某电器</p>
            </header>
        </section>
        <div class="header-model"></div>
        <section class="mobileNavFloatLayer">
            <nav class="micro-nav-item">
                <ul id="accordion">
					<li class="clearfix">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">首页</p>
                        </a>

                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge"> 产品展示</p>
                            <span class="more fr iconfont icon-jia"></span>
                        </a>
                        <ul class="clearfix subnav navul" style="display: none;">
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">空调</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">冰箱</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">洗衣机</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房小电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房大电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房大电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">生活家电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">热水器/净水</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">配件及周边</p>
								</a>
							</li>
						</ul>
                    </li>
					<li class="clearfix border1px">
                        <a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">新闻资讯</p>
                        </a>
                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">关于我们</p>
                        </a>
                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">联系我们</p>
                        </a>
                    </li>
				</ul>
            </nav>
        </section>
    </section>
</article>

<!--网页头部-->
<div class="container-fluid hidden-sm hidden-xs">
	<div class="ModuleGridContainer clearfix" gridswidthmode="2">
		<div class="col-lg-6 col-md-6">
			<img src="image/logo.png" alt="Logo图片">
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="ModuleNavGiant clearfix">
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item main-nav-item-hover">首页</a>
				</div>
				<div class="main-nav-item-group productshow">
					<a href="/" class="main-nav-item">产品展示</a>
					<div class="sub-nav-item-group">
						<div class="arrow"></div>
						<ul class="sub-nav-item-box">
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
						</ul>
					</div>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">新闻资讯</a>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">关于我们</a>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">联系我们</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--联系我们大图-->
<div class="jumbotron imageGiant hidden-sm hidden-xs">
    <img src="image/contact.png" alt="关于我们大图">
</div>
<div class="jumbotron imageGiant hidden-lg hidden-md">
    <img src="image/contact_s.png" alt="关于我们大图">
</div>

<!--联系人列表-->
<div class="contactGiant">
    <div class="ModuleGridContainer clearfix" gridswidthmode="2">
        <ul class="clearfix">
            <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4 contactItem">
                <div class="contactItemGiant">
                    <div class="contactItemCenter">
                        <div class="contactItemHead">
                            <img src="image/contactUs.png" alt="头像">
                        </div>
                        <div class="contactItemContent">
                            <p><span class="s1">杨智贤</span></p>
                            <p class="contactItemText">
                                <span class="s2">客服经理</span>
                            </p>
                            <p><span class="s3">电话：+8613539300343电子邮件：export@buyalu.com</span></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4 contactItem">
                <div class="contactItemGiant">
                    <div class="contactItemCenter">
                        <div class="contactItemHead">
                            <img src="image/contactUs.png" alt="头像">
                        </div>
                        <div class="contactItemContent">
                            <p><span class="s1">杨智贤</span></p>
                            <p class="contactItemText">
                                <span class="s2">客服经理</span>
                            </p>
                            <p><span class="s3">电话：+8613539300343电子邮件：export@buyalu.com</span></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4 contactItem">
                <div class="contactItemGiant">
                    <div class="contactItemCenter">
                        <div class="contactItemHead">
                            <img src="image/contactUs.png" alt="头像">
                        </div>
                        <div class="contactItemContent">
                            <p><span class="s1">杨智贤</span></p>
                            <p class="contactItemText">
                                <span class="s2">客服经理</span>
                            </p>
                            <p><span class="s3">电话：+8613539300343电子邮件：export@buyalu.com</span></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--表单与地图-->
<div class="contactFormMapGiant">
    <div class="ModuleGridContainer clearfix" gridswidthmode="2">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contactFormGiant">
            <div class="contactCustomFormGiant">
                <div class="contactFormCenter">
                    <form id="contactForm" action="#" method="post">
                        <h3>在线表单</h3>
                        <div class="contactFormItem">
                            <div class="contactFormField">
                                <span class="contactFormLabel">姓名</span>
                                <input type="text" placeholder="请填写姓名" class="contactFormText">
                            </div>
                        </div>
                        <div class="contactFormItem">
                            <div class="contactFormField">
                                <span class="contactFormLabel">手机</span>
                                <input type="text" placeholder="请填写手机" class="contactFormText">
                            </div>
                        </div>
                        <div class="contactFormItem">
                            <div class="contactFormField">
                                <span class="contactFormLabel">邮箱</span>
                                <input type="text" placeholder="请填写邮箱" class="contactFormText">
                            </div>
                        </div>
                        <div class="contactFormItem">
                            <div class="VerificationCodeinputWb">
                                <span class="contactFormLabel">验证码</span>
                                <input type="text" placeholder="点击获取验证码" class="contactFormText contactFormTextCode">
                            </div>
                            <img src="image/codeImg.png" alt="验证码" class="VerificationCodeImg">
                            <span class="refreshVCode">看不清？换一张</span>
                        </div>
                        <div class="contactFormSubmit">
                            <input type="button" value="提交" class="contactFormSubmitBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contactFormGiant">
            <div class="contactMapGiant">
                <!--百度地图容器-->
                <div id="map"></div>
                <script type="text/javascript" src="js/bdMap.js"></script>
            </div>
        </div>
    </div>
</div>

<!--页脚-->
<div class="FooterContainer">
	<div class="FooterZoneContainer">
		<div class="ModuleGridContainer clearfix" gridswidthmode="2">
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterImageGiant">
					<img src="image/foot_logo.png" alt="Logo图片">
				</div>
			</div>
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterImageTextGiant">
					<div class="FooterCenter">
						<div class="padding-10">
							<p><span>联系我们</span></p>
							<p><br></p>
							<p><span>联系电话：0757-12345678</span></p>
							<p><span>传真：0757-12345678</span></p>
							<p><span>电子邮箱：123456789@qq.com</span></p>
							<p><span>地址：佛山南海区某某某大厦1010</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterCodeGiant">
					<img src="image/code.png" alt="微信">
				</div>
				<div class="codeTextContainer padding-10">
					<span>手机微信</span>
				</div>
			</div>
			<div class="padding-1r0 col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="FooterCodeCenter">
					<img src="image/code.png" alt="公众号">
				</div>
				<div class="codeTextContainer2 padding-10">
					<span>公众号</span>
				</div>
			</div>
		</div>
	</div>

	<div class="FooterCopyContainer">
		<div class="ModuleGridContainer clearfix" gridswidthmode="2">
			<div class="FooterCopyGiant">
				<div class="padding-10">
					<p><span>Copyright @ VillaGrandis All Rights Reserved  ICP备案号180006020号-3</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>