<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="applicable-device" content="pc,mobile">
    <title>首页</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/pagecss.css"/>
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/toucher.js"></script>
	<script type="text/javascript" src="js/swipeTouch.js"></script>
	<script type="text/javascript" src="js/pagejs.js"></script>
	<script type="text/javascript" src="js/video.js"></script>
</head>
<body>
<!-- 手机导航 -->
<article  class="ModuleMobileNavGiant hidden-md hidden-lg">
    <section class="containers">
        <section id="MobileNav" class="mobileNav">
            <header>
                <a href="#" class="mm-hbtn">
                    <div class="lcbody">
                        <div class="lcitem top">
                            <div class="rect top"></div>
                        </div>
                        <div class="lcitem bottom">
                            <div class="rect bottom"></div>
                        </div>
                    </div>
                </a>
                <p>某某电器</p>
            </header>
        </section>
        <div class="header-model"></div>
        <section class="mobileNavFloatLayer">
            <nav class="micro-nav-item">
                <ul id="accordion">
					<li class="clearfix">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">首页</p>
                        </a>

                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge"> 产品展示</p>
                            <span class="more fr iconfont icon-jia"></span>
                        </a>
                        <ul class="clearfix subnav navul" style="display: none;">
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">空调</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">冰箱</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">洗衣机</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房小电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房大电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房大电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">生活家电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">热水器/净水</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">配件及周边</p>
								</a>
							</li>
						</ul>
                    </li>
					<li class="clearfix border1px">
                        <a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">新闻资讯</p>
                        </a>
                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">关于我们</p>
                        </a>
                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">联系我们</p>
                        </a>
                    </li>
				</ul>
            </nav>
        </section>
    </section>
</article>

<!--网页头部-->
<div class="container-fluid hidden-sm hidden-xs">
	<div class="ModuleGridContainer clearfix" gridswidthmode="2">
		<div class="col-lg-6 col-md-6">
			<img src="image/logo.png" alt="Logo图片">
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="ModuleNavGiant clearfix">
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item main-nav-item-hover">首页</a>
				</div>
				<div class="main-nav-item-group productshow">
					<a href="/" class="main-nav-item">产品展示</a>
					<div class="sub-nav-item-group">
						<div class="arrow"></div>
						<ul class="sub-nav-item-box">
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
						</ul>
					</div>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">新闻资讯</a>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">关于我们</a>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">联系我们</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--轮播图 data-ride="carousel"表示自动播放 data-interval="2000"表示2秒切换-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
	<div class="item active">
	  <!--手机用小图-->
	  <img class="hidden-md hidden-lg" src="image/swiper1_s.png" alt="轮播图1">
	  <!--网页用大图-->
	  <img class="hidden-sm hidden-xs" src="image/swiper1.png" alt="轮播图1">
	</div>
	<div class="item">
	  <img class="hidden-md hidden-lg" src="image/swiper2_s.png" alt="轮播图2">
	  <img class="hidden-sm hidden-xs" src="image/swiper2.png" alt="轮播图2">
	</div>
  </div>

  <!-- Controls -->
  <a id="carleft" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">上一张</span>
  </a>
  <a id="carright" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">下一张</span>
  </a>
</div>

<!--公司简介-->
<div class="ModuleGridGiant">
	<div class="BodyCenter">
		<div class="ModuleGridContainer clearfix" gridswidthmode="2">
			<!--左视频-->
			<div class="ModuleGridItem col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="videogiant-container">
					<div class="videoWrapper">
						<iframe src="media/video.mp4" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
						<div class="videoPlayBtn"></div>
						<div class="videoCoverPic" style="background-image:url('image/video.png')"></div>
					</div>
				</div>
			</div>
			<!--右简介-->
			<div class="ModuleGridItem col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="ModulePlainTextGiant">
					<div class="plainTextGiant-Container padding-10">
						<p><span>MACLINK MACHINE</span></p>
					</div>
				</div>
				<div class="ModulePlainTitleGiant">
					<div class="plainTitleGiant-Container padding-10">
						<p><span>| 某某集团</span></p>
					</div>
				</div>
				<div class="ModulePlainContentGiant">
					<div class="plainContentGiant-Container padding-10">
						<p><span>某某公司是一家消费电器、暖通空调、机器人与自动化系统、智能供应链（物流）的科技集团，提供多元化的产品种类与服务。以“科技尽善，生活尽美”为企业愿景，将“联动人与万物，启迪美的世界”作为自身使命，恪守“敢知未来”的价值观，致力创造美好生活。</span></p>
					</div>
				</div>
				<div class="ModuleImageGiant">
					<img src="image/signature.png" alt="签名">
				</div>
			</div>
		</div>
	</div>
</div>

<!--数量统计-->
<div class="ModuleGridContainer" gridswidthmode="2">
	<div class="ModuleDigitalIncreaseGiant">
		<div class="digital-row clearfix">
			<div class="digital-item col-xs-6 col-sm-6 col-md-3 col-lg-3">
				<div class="ico">
					<img src="image/2-1.png" alt="服务累计" width="60", height="60">
				</div>
				<p class="digital-num-item">
					<span class="digital-num">245</span>
					<sup class="digital-unit">+</sup>
				</p>
				<p class="digital-title">服务累计</p>
			</div>
			<div class="digital-item col-xs-6 col-sm-6 col-md-3 col-lg-3">
				<div class="ico">
					<img src="image/2-2.png" alt="优秀团队" width="60", height="60">
				</div>
				<p class="digital-num-item">
					<span class="digital-num">7450</span>
					<sup class="digital-unit">+</sup>
				</p>
				<p class="digital-title">优秀团队</p>
			</div>
			<div class="digital-item col-xs-6 col-sm-6 col-md-3 col-lg-3">
				<div class="ico">
					<img src="image/2-3.png" alt="覆盖行业" width="60", height="60">
				</div>
				<p class="digital-num-item">
					<span class="digital-num">350</span>
					<sup class="digital-unit">+</sup>
				</p>
				<p class="digital-title">覆盖行业</p>
			</div>
			<div class="digital-item col-xs-6 col-sm-6 col-md-3 col-lg-3">
				<div class="ico">
					<img src="image/2-4.png" alt="所获荣誉" width="60", height="60">
				</div>
				<p class="digital-num-item">
					<span class="digital-num">289</span>
					<sup class="digital-unit">+</sup>
				</p>
				<p class="digital-title">所获荣誉</p>
			</div>
		</div>
	</div>
</div>

<!--产品展示-->
<div class="ModuleGridContainer" gridswidthmode="2">
	<div class="PlainTextGiant hidden-sm hidden-xs">
		<div class="TextGiant-Container padding-10">
			<p><span>PRODUCT DISPLAY</span></p>
		</div>
	</div>
	<div class="PlainTitleGiant">
		<div class="TitleGiant-Container padding-10">
			<p><span>| 产品展示</span></p>
		</div>
	</div>
</div>
<div class="ModuleGridContainer" gridswidthmode="2">
	<!--<ul class="productList row">-->
	<ul class="productList clearfix">
		<li class="productItem col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="productItemBox">
				<div class="productItemTitle">
					<div class="padding-10">
						<p class="productItemTitleText">
							<span>生活家电</span>
						</p>
						<p class="productItemSubtitleText">
							<span>Cleaner&nbsp;Robot</span>
						</p>
					</div>
				</div>
				<div class="productItemMore">
					<a href="#" class="moduleButton">MORE&nbsp;+</a>
				</div>
				<div class="productItemImg">
					<img src="image/product1.png" alt="产品图片">
				</div>
			</div>
		</li>
		<li class="productItem col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="productItemBox">
				<div class="productItemTitle">
					<div class="padding-10">
						<p class="productItemTitleText">
							<span>生活家电</span>
						</p>
						<p class="productItemSubtitleText">
							<span>Cleaner&nbsp;Robot</span>
						</p>
					</div>
				</div>
				<div class="productItemMore">
					<a href="#" class="moduleButton">MORE&nbsp;+</a>
				</div>
				<div class="productItemImg">
					<img src="image/product1.png" alt="产品图片">
				</div>
			</div>
		</li>
		<li class="productItem col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="productItemBox">
				<div class="productItemTitle">
					<div class="padding-10">
						<p class="productItemTitleText">
							<span>生活家电</span>
						</p>
						<p class="productItemSubtitleText">
							<span>Cleaner&nbsp;Robot</span>
						</p>
					</div>
				</div>
				<div class="productItemMore">
					<a href="#" class="moduleButton">MORE&nbsp;+</a>
				</div>
				<div class="productItemImg">
					<img src="image/product1.png" alt="产品图片">
				</div>
			</div>
		</li>
		<li class="productItem col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="productItemBox">
				<div class="productItemTitle">
					<div class="padding-10">
						<p class="productItemTitleText">
							<span>生活家电</span>
						</p>
						<p class="productItemSubtitleText">
							<span>Cleaner&nbsp;Robot</span>
						</p>
					</div>
				</div>
				<div class="productItemMore">
					<a href="#" class="moduleButton">MORE&nbsp;+</a>
				</div>
				<div class="productItemImg">
					<img src="image/product1.png" alt="产品图片">
				</div>
			</div>
		</li>
	</ul>
</div>

<!--合作伙伴-->
<div class="partnerGiant">
	<div class="ModuleGridContainer" gridswidthmode="2">
		<div class="partnerContainer clearfix">
			<div class="partnerText col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="partnerPlainTextGiant hidden-sm hidden-xs">
					<div class="TextGiant-Container padding-10">
						<p><span>COOPERATIVE PARTNER</span></p>
					</div>
				</div>
				<div class="partnerPlainTitleGiant">
					<div class="TitleGiant-Container padding-10">
						<p><span>| 合作伙伴</span></p>
					</div>
				</div>
				<div class="padding-10">
					<div class="partnerTextContent">
						<p><span>某某公司经过两年直销业务发展，已发展20多个行业，上千家付费客户，在行业内销售额持续领先。提供行业内领先成熟的解决方案和完善的售后服务体系。某某经过两年直销业务发展，已发展20多个行业，上千家付费客户，在行业内销售额持续领先。提供行业内领先成熟的解决方案和完善的售后服务体系。</span></p>
					</div>
				</div>
				<a href="#" class="partnerButton">更多客户见证</a>
			</div>
			<ul class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="partnerItem">
						<img src="image/partner.png" alt="合作伙伴图片">
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!--新闻资讯-->
<div class="ModuleGridContainer clearfix hidden-sm hidden-xs" gridswidthmode="2">
	<div class="partnerText col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="partnerPlainTextGiant">
			<div class="TextGiant-Container padding-10">
				<p><span>NEWS INFORMATION</span></p>
			</div>
		</div>
		<div class="partnerPlainTitleGiant">
			<div class="TitleGiant-Container padding-10">
				<p><span>| 新闻资讯</span></p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="newsMoreGiant">
			<a href="#">更多</a>
		</div>
	</div>
</div>
<div class="ModuleGridContainer" gridswidthmode="2">
	<ul class="news-container clearfix">
		<li class="news-item">
			<a href="#">
				<div class="news-img">
					<div class="rect"></div>
					<img class="t-img" src="image/news1.jpg" alt="让旧家电更懂你，迈联智能家居套件测评">
				</div>
				<div class="news-text">
					<div class="news-con">
						<p>
							<span class="news-title">让旧家电更懂你，迈联智能家居套件测评</span>
						</p>
						<div class="label-box"></div>
						<time>2019-09-07</time>
						<div class="news-detailbtn">
							<span class="icon-you iconfont"></span>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li class="news-item">
			<a href="#">
				<div class="news-img fl">
					<div class="rect"></div>
					<img class="t-img" src="image/news1.jpg" alt="让旧家电更懂你，迈联智能家居套件测评">
				</div>
				<div class="news-text">
					<div class="news-con">
						<p>
							<span class="news-title">让旧家电更懂你，迈联智能家居套件测评</span>
						</p>
						<div class="label-box"></div>
						<time>2019-09-07</time>
						<div class="news-detailbtn">
							<span class="icon-you iconfont"></span>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li class="news-item">
			<a href="#">
				<div class="news-img fl">
					<div class="rect"></div>
					<img class="t-img" src="image/news1.jpg" alt="让旧家电更懂你，迈联智能家居套件测评">
				</div>
				<div class="news-text">
					<div class="news-con">
						<p>
							<span class="news-title">让旧家电更懂你，迈联智能家居套件测评</span>
						</p>
						<div class="label-box"></div>
						<time>2019-09-07</time>
						<div class="news-detailbtn">
							<span class="icon-you iconfont"></span>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li class="news-item">
			<a href="#">
				<div class="news-img fl">
					<div class="rect"></div>
					<img class="t-img" src="image/news1.jpg" alt="让旧家电更懂你，迈联智能家居套件测评">
				</div>
				<div class="news-text">
					<div class="news-con">
						<p>
							<span class="news-title">让旧家电更懂你，迈联智能家居套件测评</span>
						</p>
						<div class="label-box"></div>
						<time>2019-09-07</time>
						<div class="news-detailbtn">
							<span class="icon-you iconfont"></span>
						</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>

<!--页脚-->
<div class="FooterContainer">
	<div class="FooterZoneContainer">
		<div class="ModuleGridContainer clearfix" gridswidthmode="2">
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterImageGiant">
					<img src="image/foot_logo.png" alt="Logo图片">
				</div>
			</div>
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterImageTextGiant">
					<div class="FooterCenter">
						<div class="padding-10">
							<p><span>联系我们</span></p>
							<p><br></p>
							<p><span>联系电话：0757-12345678</span></p>
							<p><span>传真：0757-12345678</span></p>
							<p><span>电子邮箱：123456789@qq.com</span></p>
							<p><span>地址：佛山南海区某某某大厦1010</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterCodeGiant">
					<img src="image/code.png" alt="微信">
				</div>
				<div class="codeTextContainer padding-10">
					<span>手机微信</span>
				</div>
			</div>
			<div class="padding-1r0 col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="FooterCodeCenter">
					<img src="image/code.png" alt="公众号">
				</div>
				<div class="codeTextContainer2 padding-10">
					<span>公众号</span>
				</div>
			</div>
		</div>
	</div>

	<div class="FooterCopyContainer">
		<div class="ModuleGridContainer clearfix" gridswidthmode="2">
			<div class="FooterCopyGiant">
				<div class="padding-10">
					<p><span>Copyright @ VillaGrandis All Rights Reserved  ICP备案号180006020号-3</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>