{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
{% block title %}
新闻详情
{% endblock %}


{% block content %}

    <!--网页头部-->
    {% load static %}
    <div class="container-fluid hidden-sm hidden-xs">
        <div class="ModuleGridContainer clearfix" gridswidthmode="2">
            <div class="col-lg-6 col-md-6">
                <img src="{%static 'image/logo.png'  %}" alt="Logo图片">
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="ModuleNavGiant clearfix">
                    {% for nav in navs %}
                        {% if nav.name == '产品展示' %}
                            <div class="main-nav-item-group productshow">

                        {% else %}
                            <div class="main-nav-item-group">

                       {% endif %}

                    {% if nav.name == '新闻资讯' %}
                    <a href="/" class="main-nav-item main-nav-item-hover">{{nav.name}}</a>
                    {% else %}
                        <a href="/" class="main-nav-item">{{nav.name}}</a>
                    {% endif %}
                    <div class="sub-nav-item-group">
                        <div class="arrow"></div>

                        <ul class="sub-nav-item-box">
                        {% for menu in second_menus %}
                            <li>
                                <a href="#" class="sub-nav-item">
                                    <span class="inner">
                                        {{menu.name}}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>

                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <!--新闻详情-->
    {% for new in news %}
    <div class="ModuleGridContainer" gridswidthmode="2">
        <h2 class="newsDetailTitle">{{new.name}}</h2>
        <div class="newsSource">
            <span>关注：{{ new.browse }}</span>
            <span>发表时间：{{new.create_time}}</span>
        </div>
        <section>
            <article>
                <!--以下为富文本-->
                <p style="margin-top: 26px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); text-align: justify; font-family: arial; background-color: rgb(255, 255, 255); line-height: 2em;">
                    <span style="color: rgb(102, 102, 102);">
                        {{new.content | safe}}
                    </span>
                </p>
            </article>
        </section>

        <div class="PrevNext clearfix">
            <span class="prev">
                {% if up_new.id >= 1  %}
                    <a href="{% url 'news:detail' id=up_new.id %}">上一篇 : {{up_new}}</a>
                {% else %}
                    <span>上一篇 : ……</span>
                {% endif %}
            </span>
            <span class="next">
                {% if down_new.id >= 1  %}
                    <a href="{% url 'news:detail' id=down_new.id %}">下一篇 : {{down_new}}</a>
                {% else %}
                    <span>下一篇 : ……</span>
                {% endif %}
            </span>
        </div>
    </div>
    {% endfor %}

{% endblock %}