<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="applicable-device" content="pc,mobile">
    <title>新闻列表</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/pagecss.css"/>
	<link rel="stylesheet" type="text/css" href="css/dropload.css"/>
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/pagejs.js"></script>
</head>
<body>
<!-- 手机导航 -->
<article  class="ModuleMobileNavGiant hidden-md hidden-lg">
    <section class="containers">
        <section id="MobileNav" class="mobileNav">
            <header>
                <a href="#" class="mm-hbtn">
                    <div class="lcbody">
                        <div class="lcitem top">
                            <div class="rect top"></div>
                        </div>
                        <div class="lcitem bottom">
                            <div class="rect bottom"></div>
                        </div>
                    </div>
                </a>
                <p>某某电器</p>
            </header>
        </section>
        <div class="header-model"></div>
        <section class="mobileNavFloatLayer">
            <nav class="micro-nav-item">
                <ul id="accordion">
					<li class="clearfix">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">首页</p>
                        </a>

                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge"> 产品展示</p>
                            <span class="more fr iconfont icon-jia"></span>
                        </a>
                        <ul class="clearfix subnav navul" style="display: none;">
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">空调</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">冰箱</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">洗衣机</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房小电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房大电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">厨房大电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">生活家电</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">热水器/净水</p>
								</a>
							</li>
							<li class="borderTop1px">
								<a href="#" class="link" target="_self">
									<p class="fl maxmiddle">配件及周边</p>
								</a>
							</li>
						</ul>
                    </li>
					<li class="clearfix border1px">
                        <a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">新闻资讯</p>
                        </a>
                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">关于我们</p>
                        </a>
                    </li>
					<li class="clearfix border1px">
						<a href="#" class="link" target="_self">
                            <p class="colorlump">
                                <i class="main-class-colorlump"></i>
                            </p>
                            <p class="fl maxlarge">联系我们</p>
                        </a>
                    </li>
				</ul>
            </nav>
        </section>
    </section>
</article>

<!--网页头部-->
<div class="container-fluid hidden-sm hidden-xs">
	<div class="ModuleGridContainer clearfix" gridswidthmode="2">
		<div class="col-lg-6 col-md-6">
			<img src="image/logo.png" alt="Logo图片">
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="ModuleNavGiant clearfix">
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">首页</a>
				</div>
				<div class="main-nav-item-group productshow">
					<a href="/" class="main-nav-item">产品展示</a>
					<div class="sub-nav-item-group">
						<div class="arrow"></div>
						<ul class="sub-nav-item-box">
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
							<li><a href="#" class="sub-nav-item"><span class="inner">空调</span></a></li>
						</ul>
					</div>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item main-nav-item-hover">新闻资讯</a>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">关于我们</a>
				</div>
				<div class="main-nav-item-group">
					<a href="/" class="main-nav-item">联系我们</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--新闻列表大图-->
<div class="jumbotron imageGiant hidden-sm hidden-xs">
    <img src="image/news_show.png" alt="新闻列表大图">
</div>
<div class="jumbotron imageGiant hidden-lg hidden-md">
    <img src="image/news_show_s.png" alt="新闻列表大图">
</div>

<!--面包屑-->
<div class="ModuleGridContainer" gridswidthmode="2">
	<div class="ModuleBreadcrumbsGiant">
		<ol class="breadcrumb">
			<li><a href="index.html" class="bcs-item">首页</a></li>
			<li><span class="separator">-</span></li>
			<li><a href="news_list.html" class="bcs-item">新闻资讯</a></li>
		</ol>
	</div>
</div>

<!--新闻主体-->
<div class="newsGridGiant">
	<div class="ModuleGridContainer clearfix" gridswidthmode="2">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pad-mar0">
			<div class="newsCommonClsGiant">
				<header class="class-title">
					<span class="class-title-text">新闻动态</span>
					<span class="class-title-icon icon iconfont icon-jia hidden-lg hidden-md"></span>
				</header>
				<ul class="one-classify">
					<!--如果是当前类别的新闻，加激活样式即可： <li class="main-class-item active">-->
					<li class="main-class-item">
						<a href="#">
							<p><i class="main-class-colorlump"></i></p>
							<span class="main-class-text">公司新闻</span>
						</a>
					</li>
					<li class="main-class-item">
						<a href="#">
							<p><i class="main-class-colorlump"></i></p>
							<span class="main-class-text">行业动态</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="ModuleNewsListGiant col-xs-12 col-sm-12 col-md-9 col-lg-9 pad-mar0">
			<ul class="newsContainer clearfix">
				<li class="news-item clearfix">
					<a href="news_detail.html" class="clearfix">
						<div class="news-item-box">
							<div class="news-con-box">
								<div class="news-time">
									<time>09-07</time>
									<div class="news-icon hidden-sm hidden-xs"><span></span></div>
								</div>
								<div class="newsCon">
									<p class="news-title">旧家电更懂你，迈联智能家居套件测评</p>
								</div>
							</div>
							<div class="news-img">
								<img src="image/news1.jpg" alt="让旧家电更懂你，迈联智能家居套件测评">
							</div>
						</div>
					</a>
				</li>
				<li class="news-item clearfix">
					<a href="news_detail.html" class="clearfix">
						<div class="news-item-box">
							<div class="news-con-box">
								<div class="news-time">
									<time>09-07</time>
									<div class="news-icon hidden-sm hidden-xs"><span></span></div>
								</div>
								<div class="newsCon">
									<p class="news-title">旧家电更懂你，迈联智能家居套件测评</p>
								</div>
							</div>
							<div class="news-img">
								<img src="image/news1.jpg" alt="让旧家电更懂你，迈联智能家居套件测评">
							</div>
						</div>
					</a>
				</li>
				<li class="news-item clearfix">
					<a href="news_detail.html" class="clearfix">
						<div class="news-item-box">
							<div class="news-con-box">
								<div class="news-time">
									<time>09-07</time>
									<div class="news-icon hidden-sm hidden-xs"><span></span></div>
								</div>
								<div class="newsCon">
									<p class="news-title">旧家电更懂你，迈联智能家居套件测评</p>
								</div>
							</div>
							<div class="news-img">
								<img src="image/news1.jpg" alt="让旧家电更懂你，迈联智能家居套件测评">
							</div>
						</div>
					</a>
				</li>
			</ul>

			<!--网页分页-->
			<div class="col-md-12 hidden-sm hidden-xs">
					<ul class="pagination">
						<li class="disabled">
							<a href="#">&laquo;</a>
						</li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#">&raquo;</a>
						</li>
					</ul>
				</div>
		</div>
	</div>
</div>

<!--手机加载更多-->
<script type="text/javascript" src="js/dropload.min.js"></script>
<script>
var viewWidth = window.screen.width;
if (viewWidth < 768) {
    $(function(){
        // 页数
        let page = 0;
        // 每页展示6个
        let size = 6;

        // dropload
        $('.newsGridGiant').dropload({
            scrollArea : window,
            loadDownFn : function(me){
                page++;
                // 拼接HTML
                let result = '';
                $.ajax({
                    type: 'GET',
                    url: 'http://xxx?page='+page+'&size='+size,
                    dataType: 'json',
                    success: function(data){
                        let arrLen = data.length;
                        if(arrLen > 0){
                            for(let i=0; i<arrLen; i++){
                                result +=   '<li class="news-item clearfix">' +
												'<a href="news_detail.html" class="clearfix">' +
													'<div class="news-item-box">' +
														'<div class="news-con-box">' +
															'<div class="news-time">' +
																'<time>09-07</time>' +
																'<div class="news-icon hidden-sm hidden-xs"><span></span></div>' +
															'</div>' +
															'<div class="newsCon">' +
																'<p class="news-title">旧家电更懂你，迈联智能家居套件测评</p>' +
															'</div>' +
														'</div>' +
														'<div class="news-img">' +
															'<img src="image/news1.jpg" alt="让旧家电更懂你，迈联智能家居套件测评">' +
														'</div>' +
													'</div>' +
												'</a>' +
											'</li>';
                            }
                        // 如果没有数据
                        }else{
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                        }
                        // 为了测试，延迟1秒加载
                        // setTimeout(function(){
                            // 插入数据到页面，放到最后面
                            $('.ModuleNewsListGiant ul').append(result);
                            // 每次数据插入，必须重置
                            me.resetload();
                        // },1000);
                    },
                    error: function(xhr, type){
                        // alert('Ajax error!');
                        // 即使加载出错，也得重置
                        me.resetload();
                    }
                });
            }
        });
    });
}
</script>

<!--页脚-->
<div class="FooterContainer">
	<div class="FooterZoneContainer">
		<div class="ModuleGridContainer clearfix" gridswidthmode="2">
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterImageGiant">
					<img src="image/foot_logo.png" alt="Logo图片">
				</div>
			</div>
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterImageTextGiant">
					<div class="FooterCenter">
						<div class="padding-10">
							<p><span>联系我们</span></p>
							<p><br></p>
							<p><span>联系电话：0757-12345678</span></p>
							<p><span>传真：0757-12345678</span></p>
							<p><span>电子邮箱：123456789@qq.com</span></p>
							<p><span>地址：佛山南海区某某某大厦1010</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="padding-1r0 hidden-sm hidden-xs col-md-3 col-lg-3">
				<div class="FooterCodeGiant">
					<img src="image/code.png" alt="微信">
				</div>
				<div class="codeTextContainer padding-10">
					<span>手机微信</span>
				</div>
			</div>
			<div class="padding-1r0 col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="FooterCodeCenter">
					<img src="image/code.png" alt="公众号">
				</div>
				<div class="codeTextContainer2 padding-10">
					<span>公众号</span>
				</div>
			</div>
		</div>
	</div>

	<div class="FooterCopyContainer">
		<div class="ModuleGridContainer clearfix" gridswidthmode="2">
			<div class="FooterCopyGiant">
				<div class="padding-10">
					<p><span>Copyright @ VillaGrandis All Rights Reserved  ICP备案号180006020号-3</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>